---
layout: tags
toc: true
toc_label: "My Table of Contents"
toc_icon: "cog"
author_profile: true
---
Hello <br/>

Category: 
{% for collection in site.collections %}
	<a href = {{collection.relative_directory}}> {{collection.title}}[{{collection.docs.size}}]</a>
{% endfor %}

{% assign recent_posts = "" %}
{% for collection in site.collections %}
	{% assign recent_posts = recent_posts | concat: collection.docs %}
{% endfor %}

{% assign recent_posts = recent_posts | sort: "date" | reverse %}
<div class="entries-{{ page.entries_layout }}">
	{% for post in recent_posts limit: 10 %}
		{% include archive-single.html %}
	{% endfor %}
</div>


